/* ********** Google Fonts ********** */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ************ Variables ************ */
:root{
    --header-height: 3rem;

    /* *********** Colors *********** */
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;

    /* *********** Font and typography *********** */
    --body-font: 'Montserrat', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: 875rem;
    --smaller-font-size: .813rem;

    /* ** Font Weiht ** */
    --font-medium: 500;
    --font-semi-bold: 600;
    
    /* **************** Margenes **************** */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;

    /* **************** z index **************** */
    --z-tooltip: 10;
    --z-fized: 100;
}

/* ********************** BASE **********************  */
*,
::before,
::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, ul, p{
    margin: 0;
}

h1, h2, h3{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* ********************** class css **********************  */
.section{
    padding: 1.5rem 0;
}

.section-title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--mb-3);

    background: yellowgreen;
}

/* ********************** LAYAUT **********************  */
/* header */
.l-header{
    /* styles propios */
    display: flex;

    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fized);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
    transition: .3s;

    background: yellowgreen;
    padding: 0px 10px;
}

/* nav */
nav{
    /* styles propios */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background: orange;
    padding: 0 10px;

    max-width: 968px;
    width: 100%;

     /*width: calc(100% -3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3); */
}

/*  nav  */
/* .nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .bd-grid{
    display: grid;
    gap: 1.5rem;
} */

.navLogo{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

/* @media screen and (max-width: 968px) {
    
} */
.navMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: fixed;
    /* bottom: var(--header-height); */
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    border-radius: 1rem 1rem 0 0;
    border-top: solid 1px #8A2BE2;
    /*  z-index: var(--z-fized); */
    z-index: -50;
    transition: .3s;

    background: pink;
}

/* show menu - class active */
.show-menu{
    bottom: var(--header-height);
}

.navList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background: red;
}

.navList
.navItem{
    text-align: center;
}

.navList
.navItem
.navLink{
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    /* color: var(--text-color-light); */
    color: #8A2BE2;
    font-weight: var(--font-medium);
    padding: 10px 5px;

    background: yellow;
}

.navList
.navItem
.navLink:hover{
    color: var(--title-color);
}

.navList
.navItem
.navLink
.icon{
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}


.navToggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: 1.2rem;
    cursor: pointer;
}

